@charset "UTF-8";
@font-face {
  font-family: "Lato-Regular";
  src: url("/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("/fonts/Lato/Lato-Bold.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway/Raleway-ExtraBold.ttf");
}
html {
  font-size: 10px;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Скрываем scrollbar для IE, Edge и Firefox */
html {
  -ms-overflow-style: none;
  /* IE и Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  margin: 0;
  background-color: #10101D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lato-Regular";
}

span {
  color: #3E9CDC;
}

header {
  position: fixed;
  background: #10101D;
  z-index: 999;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
  top: 0;
  height: 10rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo {
  width: 250px;
  height: 35px;
}
header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
}
header .menu .menu__item {
  margin-right: 6rem;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  color: white;
}
header .menu .menu__item:hover {
  color: #43ABF0;
}
header .menu .menu__item:last-child {
  margin-right: 0rem;
}

.intro {
  width: 100%;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("/assets/intro_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.intro .intro__desc {
  margin: 10rem 0 20rem 37.5rem;
}
.intro .intro__desc .intro__desc-title {
  font-family: "Lato-Bold";
  text-transform: uppercase;
  font-size: 4.8rem;
}
.intro .intro__desc .intro__desc-txt {
  margin-top: 8rem;
}
.intro .intro__desc .intro__desc-txt ul {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}
.intro .intro__desc .intro__desc-txt ul li {
  margin-left: 1rem;
}
.intro .intro__desc .intro__desc-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8rem;
  font-size: 1.3rem;
}
.intro .intro__desc .intro__desc-btns .intro__desc-btn {
  width: 18.3rem;
  height: 4.3rem;
  margin-right: 3rem;
  line-height: 4.3rem;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 1px solid black;
  font-family: "Lato-Regular";
}
.intro .intro__desc .intro__desc-btns .intro__desc-btn:last-child {
  margin: 0;
}
.intro .intro__desc .intro__desc-btns .intro__desc-btn:hover {
  color: white;
  border: 1px solid white;
  background-color: #3E9CDC;
}

.order {
  width: 100%;
  background-image: url("/assets/order_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.order .order__block {
  width: 116rem;
  padding-top: 12rem;
  padding-bottom: 15rem;
  margin-left: auto;
  margin-right: auto;
}
.order .order__block .order__block-title {
  color: white;
  font-size: 3.6rem;
  text-align: center;
  font-family: "Raleway";
}
.order .order__block .order__block-title p {
  color: #BBBBBB;
  font-size: 1.8rem;
  font-family: "Lato-Regular";
}
.order .order__block .order__block-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8rem;
}
.order .order__block .order__block-dots .block__dots-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order .order__block .order__block-dots .block__dots-item .circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #3E9CDC;
  z-index: 1;
}
.order .order__block .order__block-dots .block__dots-item .circle img {
  z-index: 0;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  margin-top: 50%;
}
.order .order__block .order__block-dots .block__dots-item p {
  color: white;
  font-size: 1.6rem;
  margin-bottom: 0;
  max-width: 20rem;
}
.order .order__block .order__block-forms {
  width: 100%;
  margin-top: 8rem;
}
.order .order__block .order__block-forms .input__forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.order .order__block .order__block-forms .input__forms select {
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.order .order__block .order__block-forms .input__forms select option {
  background-color: #272733;
}
.order .order__block .order__block-forms .input__forms select:hover {
  background-color: #3D4050;
  color: white;
}
.order .order__block .order__block-forms .input__forms > * {
  width: 30%;
  height: 4.8rem;
  opacity: 0.85;
}
.order .order__block .order__block-forms .scales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}
.order .order__block .order__block-forms .scales .scales__range {
  width: 66%;
}
.order .order__block .order__block-forms .scales .scales__range #rangeNow {
  font-size: 1.8rem;
  color: white;
  margin: 0;
  text-align: end;
}
.order .order__block .order__block-forms .scales .scales__range #myRange {
  width: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}
.order .order__block .order__block-forms .scales .btnFile {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}
.order .order__block .order__block-forms .scales .btnFile label {
  background: white;
  width: 100%;
  cursor: pointer;
}
.order .order__block .order__block-forms .scales .btnFile label::before {
  content: "";
  position: absolute;
  display: block;
  width: 1.7rem;
  height: 2rem;
  background: url("/assets/order/download.svg") no-repeat;
  margin-top: 1rem;
  margin-left: 5%;
}
.order .order__block .sendBtn {
  width: 100%;
  text-align: center;
  margin-top: 8rem;
}
.order .order__block .sendBtn #sendBtn {
  width: 37rem;
  height: 4.8rem;
  font-size: 1.5rem;
  background: #3E9CDC;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.order .order__block .sendBtn #sendBtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.85;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #3D4050;
}
footer .footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
footer .footer__block .footer__block-copy {
  padding-right: 2rem;
}
footer .footer__block .footer__block-money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer__block .footer__block-money .money__item {
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__block .footer__block-money .money__item-title {
  margin-left: 1rem;
}
footer .footer__block .footer__block-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer .footer__block .footer__block-social .social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
footer .footer__block .footer__block-social .social__item:hover {
  color: #3E9CDC;
}
footer .footer__block .footer__block-social .social__item-title {
  margin-left: 1rem;
}
footer .footer__block > * {
  color: white;
  font-size: 1.3rem;
  white-space: nowrap;
}

@media screen and (max-width: 1180px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .menu {
    margin-bottom: 2rem;
  }

  .intro .intro__desc {
    margin: 10rem 0 10rem 3rem;
  }
  .intro .intro__desc .intro__desc-title {
    font-size: 3.8rem;
  }
  .intro .intro__desc .intro__desc-txt {
    margin-top: 4rem;
  }
  .intro .intro__desc .intro__desc-txt ul {
    font-size: 1.5rem;
  }
  .intro .intro__desc .intro__desc-btns {
    margin-top: 4rem;
  }

  .order .order__block {
    width: 100%;
  }
  .order .order__block .order__block-title {
    font-size: 2.8rem;
  }
  .order .order__block .order__block-title p {
    font-size: 1.3rem;
  }
  .order .order__block .order__block-dots {
    margin-top: 4rem;
  }
  .order .order__block .order__block-dots .block__dots-item .circle {
    width: 7rem;
    height: 7rem;
  }
  .order .order__block .order__block-dots .block__dots-item .circle img {
    -webkit-transform: translateX(8rem);
            transform: translateX(8rem);
  }
  .order .order__block .order__block-forms .scales .btnFile label::before {
    margin-top: 1rem;
    margin-left: 6%;
  }

  footer .footer__block {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer__block .footer__block-money {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer__block .footer__block-money .line {
    display: none;
  }
  footer .footer__block .footer__block-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .footer__block .footer__block-social .social__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .footer__block .footer__block-social .social__item .social__item-logo {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (max-width: 720px) {
  header {
    height: auto;
  }
  header .menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .menu .menu__item {
    width: 100%;
    margin: 1rem 0 0 0;
    border-bottom: 1px solid white;
  }
  header .menu .menu__item:nth-child(even) {
    text-align: right;
  }

  .intro {
    margin-top: 16.3rem;
  }
  .intro .intro__desc {
    margin: 5rem 0 5rem 1.5rem;
  }
  .intro .intro__desc .intro__desc-title {
    font-size: 2.8rem;
  }
  .intro .intro__desc .intro__desc-txt ul {
    font-size: 1rem;
  }

  .order .order__block {
    padding-bottom: 0;
  }
  .order .order__block .order__block-dots {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order .order__block .order__block-dots .block__dots-item {
    margin-bottom: 3rem;
  }
  .order .order__block .order__block-dots .block__dots-item .circle img {
    display: none;
  }
  .order .order__block .order__block-forms .input__forms {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order .order__block .order__block-forms .scales {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .order .order__block .order__block-forms .scales .btnFile label::before {
    display: none;
  }
  .order .order__block .order__block-forms .input__forms > * {
    width: 100%;
    margin-top: 0.5rem;
    height: 4.8rem;
    opacity: 0.85;
  }
  .order .order__block .sendBtn {
    margin: 5rem 0;
  }
  .order .order__block .sendBtn:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }

  footer .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer__block .footer__block-copy {
    text-align: center;
  }
  footer .footer__block .footer__block-money .money__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .footer__block .footer__block-social .social__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (max-width: 480px) {
  .intro .intro__desc .intro__desc-title {
    font-size: 1.8rem;
  }
  .intro .intro__desc .intro__desc-btns .intro__desc-btn {
    width: 12rem;
  }

  .order .order__block .order__block-forms .scales .btnFile label p {
    margin: 0;
  }
  .order .order__block .sendBtn #sendBtn {
    width: 90%;
  }
}